<!DOCTYPE html>
<html>
  <head>
    <title>medcard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form>
      <div class="column">
        <div><%- studentsListHTML %></div>
      </div>
      <!-- <div class="answer"></div>     -->
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="/js/medcard.js"></script>
  </body>
</html>
